In [1]:
import numpy as np
import pandas as pd

In [2]:
combined = pd.read_csv('combined.csv')
#salarydf = pd.read_csv("NBA_Salary_91to17.csv")
#rankdf = pd.read_csv("seasonRanks91to17.csv")

In [3]:
combined

     Year   Div Team  Wins  Team_Salary
0    1991  East  BOS    56     11256000
1    1991  East  PHI    44     11640000
2    1991  East  NYK    39     13290000
3    1991  East  WSB    30      9610000
4    1991  East  NJN    26     11410000
5    1991  East  MIA    24      8510000
6    1991  East  CHI    61     10040000
7    1991  East  DET    50     12910000
8    1991  East  MIL    48     11595000
9    1991  East  ATL    43     11761000
10   1991  East  IND    41     10981000
11   1991  East  CLE    33     14403000
12   1991  East  CHH    26     10417000
13   1991  West  SAS    55     11057000
14   1991  West  UTA    54     10695000
15   1991  West  HOU    52     10500000
16   1991  West  ORL    31      7532000
17   1991  West  MIN    29      7540000
18   1991  West  DAL    28     11693000
19   1991  West  DEN    20     10335000
20   1991  West  POR    63     11215000
21   1991  West  LAL    58     12120000
22   1991  West  PHO    55     11463000
23   1991  West  GSW    44     11150000
24   1991  West  SEA    41     10590000
25   1991  West  LAC    31     10245000
26   1991  West  SAC    25      9605000
27   1992  East  BOS    51     25343000
28   1992  East  NYK    51     12399000
29   1992  East  NJN    40     12598000
..    ...   ...  ...   ...          ...
756  2017  East  BOS    53     93465328
757  2017  East  CLE    51    127243667
758  2017  East  TOR    51    108664969
759  2017  East  WAS    49    102334382
760  2017  East  ATL    43     96294035
761  2017  East  MIL    42     94012121
762  2017  East  IND    42     94008504
763  2017  East  CHI    41     92571387
764  2017  East  MIA    41    101818405
765  2017  East  DET    37    108967919
766  2017  East  CHO    36    102675926
767  2017  East  NYK    31    103595894
768  2017  East  ORL    29    104110336
769  2017  East  PHI    28     85763788
770  2017  East  BRK    20     84083139
771  2017  West  GSW    67    101725589
772  2017  West  SAS    61    108640621
773  2017  West  HOU    55     90996769
774  2017  West  LAC    51    116237542
775  2017  West  UTA    51     80598193
776  2017  West  OKC    47     91339949
777  2017  West  MEM    43    111045893
778  2017  West  POR    41    112416239
779  2017  West  DEN    40     82573997
780  2017  West  NOP    34    101707386
781  2017  West  DAL    33    104042028
782  2017  West  SAC    32     96043092
783  2017  West  MIN    31     81621379
784  2017  West  LAL    26     95226183
785  2017  West  PHO    24     85138847

[786 rows x 5 columns]

In [3]:
teamSalaryPerYear = list()
for year in salarydf.Year.unique():
    year_df = salarydf.loc[salarydf.Year == year]
    for team in year_df.Team.unique():
        team_df = year_df.loc[year_df.Team == team]
        salary_total = team_df.Salary.sum(axis=0)
        teamSalaryPerYear.append((year,team,salary_total))

In [4]:
labels = ["Year","Team","Team_Salary"]
teamdf = pd.DataFrame.from_records(teamSalaryPerYear,columns=labels)

In [5]:
teamdf

     Year Team  Team_Salary
0    1991  BOS     11256000
1    1991  PHI     11640000
2    1991  NYK     13290000
3    1991  WSB      9610000
4    1991  NJN     11410000
5    1991  MIA      8510000
6    1991  CHI     10040000
7    1991  DET     12910000
8    1991  MIL     11595000
9    1991  ATL     11761000
10   1991  IND     10981000
11   1991  CLE     14403000
12   1991  CHH     10417000
13   1991  SAS     11057000
14   1991  UTA     10695000
15   1991  HOU     10500000
16   1991  ORL      7532000
17   1991  MIN      7540000
18   1991  DAL     11693000
19   1991  DEN     10335000
20   1991  POR     11215000
21   1991  LAL     12120000
22   1991  PHO     11463000
23   1991  GSW     11150000
24   1991  SEA     10590000
25   1991  LAC     10245000
26   1991  SAC      9605000
27   1992  BOS     25343000
28   1992  NYK     12399000
29   1992  NJN     12598000
..    ...  ...          ...
756  2017  BOS     93465328
757  2017  TOR    108664969
758  2017  NYK    103595894
759  2017  PHI     85763788
760  2017  BRK     84083139
761  2017  WAS    102334382
762  2017  ATL     96294035
763  2017  MIA    101818405
764  2017  CHO    102675926
765  2017  ORL    104110336
766  2017  CLE    127243667
767  2017  MIL     94012121
768  2017  IND     94008504
769  2017  CHI     92571387
770  2017  DET    108967919
771  2017  UTA     80598193
772  2017  OKC     91339949
773  2017  POR    112416239
774  2017  DEN     82573997
775  2017  MIN     81621379
776  2017  SAS    108640621
777  2017  HOU     90996769
778  2017  MEM    111045893
779  2017  NOP    101707386
780  2017  DAL    104042028
781  2017  GSW    101725589
782  2017  LAC    116237542
783  2017  SAC     96043092
784  2017  LAL     95226183
785  2017  PHO     85138847

[786 rows x 3 columns]

In [9]:
rankdf

     Year   Div Team  Wins
0    1991  East  BOS    56
1    1991  East  PHI    44
2    1991  East  NYK    39
3    1991  East  WSB    30
4    1991  East  NJN    26
5    1991  East  MIA    24
6    1991  East  CHI    61
7    1991  East  DET    50
8    1991  East  MIL    48
9    1991  East  ATL    43
10   1991  East  IND    41
11   1991  East  CLE    33
12   1991  East  CHH    26
13   1991  West  SAS    55
14   1991  West  UTA    54
15   1991  West  HOU    52
16   1991  West  ORL    31
17   1991  West  MIN    29
18   1991  West  DAL    28
19   1991  West  DEN    20
20   1991  West  POR    63
21   1991  West  LAL    58
22   1991  West  PHO    55
23   1991  West  GSW    44
24   1991  West  SEA    41
25   1991  West  LAC    31
26   1991  West  SAC    25
27   1992  East  BOS    51
28   1992  East  NYK    51
29   1992  East  NJN    40
..    ...   ...  ...   ...
756  2017  East  BOS    53
757  2017  East  CLE    51
758  2017  East  TOR    51
759  2017  East  WAS    49
760  2017  East  ATL    43
761  2017  East  MIL    42
762  2017  East  IND    42
763  2017  East  CHI    41
764  2017  East  MIA    41
765  2017  East  DET    37
766  2017  East  CHO    36
767  2017  East  NYK    31
768  2017  East  ORL    29
769  2017  East  PHI    28
770  2017  East  BRK    20
771  2017  West  GSW    67
772  2017  West  SAS    61
773  2017  West  HOU    55
774  2017  West  LAC    51
775  2017  West  UTA    51
776  2017  West  OKC    47
777  2017  West  MEM    43
778  2017  West  POR    41
779  2017  West  DEN    40
780  2017  West  NOP    34
781  2017  West  DAL    33
782  2017  West  SAC    32
783  2017  West  MIN    31
784  2017  West  LAL    26
785  2017  West  PHO    24

[786 rows x 4 columns]

In [7]:
combined = pd.merge(rankdf,teamdf,on=['Year','Team'])

In [8]:
combined

     Year   Div Team  Wins  Team_Salary
0    1991  East  BOS    56     11256000
1    1991  East  PHI    44     11640000
2    1991  East  NYK    39     13290000
3    1991  East  WSB    30      9610000
4    1991  East  NJN    26     11410000
5    1991  East  MIA    24      8510000
6    1991  East  CHI    61     10040000
7    1991  East  DET    50     12910000
8    1991  East  MIL    48     11595000
9    1991  East  ATL    43     11761000
10   1991  East  IND    41     10981000
11   1991  East  CLE    33     14403000
12   1991  East  CHH    26     10417000
13   1991  West  SAS    55     11057000
14   1991  West  UTA    54     10695000
15   1991  West  HOU    52     10500000
16   1991  West  ORL    31      7532000
17   1991  West  MIN    29      7540000
18   1991  West  DAL    28     11693000
19   1991  West  DEN    20     10335000
20   1991  West  POR    63     11215000
21   1991  West  LAL    58     12120000
22   1991  West  PHO    55     11463000
23   1991  West  GSW    44     11150000
24   1991  West  SEA    41     10590000
25   1991  West  LAC    31     10245000
26   1991  West  SAC    25      9605000
27   1992  East  BOS    51     25343000
28   1992  East  NYK    51     12399000
29   1992  East  NJN    40     12598000
..    ...   ...  ...   ...          ...
756  2017  East  BOS    53     93465328
757  2017  East  CLE    51    127243667
758  2017  East  TOR    51    108664969
759  2017  East  WAS    49    102334382
760  2017  East  ATL    43     96294035
761  2017  East  MIL    42     94012121
762  2017  East  IND    42     94008504
763  2017  East  CHI    41     92571387
764  2017  East  MIA    41    101818405
765  2017  East  DET    37    108967919
766  2017  East  CHO    36    102675926
767  2017  East  NYK    31    103595894
768  2017  East  ORL    29    104110336
769  2017  East  PHI    28     85763788
770  2017  East  BRK    20     84083139
771  2017  West  GSW    67    101725589
772  2017  West  SAS    61    108640621
773  2017  West  HOU    55     90996769
774  2017  West  LAC    51    116237542
775  2017  West  UTA    51     80598193
776  2017  West  OKC    47     91339949
777  2017  West  MEM    43    111045893
778  2017  West  POR    41    112416239
779  2017  West  DEN    40     82573997
780  2017  West  NOP    34    101707386
781  2017  West  DAL    33    104042028
782  2017  West  SAC    32     96043092
783  2017  West  MIN    31     81621379
784  2017  West  LAL    26     95226183
785  2017  West  PHO    24     85138847

[786 rows x 5 columns]

In [4]:
combined['Season_Rank'] = combined.groupby('Year')['Wins'].rank(ascending=False)

In [5]:
combined['Salary_Rank'] = combined.groupby('Year')['Team_Salary'].rank(ascending=False)

In [6]:
combined['Div_Season_Rank'] = combined.groupby(['Year','Div'])['Wins'].rank(ascending=False)

In [7]:
combined['Div_Salary_Rank'] = combined.groupby(['Year','Div'])['Team_Salary'].rank(ascending=False)

In [8]:
combined['Diff'] = combined['Salary_Rank'].sub(combined['Season_Rank'],axis=0)

In [23]:
combined

,Year,Div,Team,Wins,Team_Salary,Season_Rank,Salary_Rank,Div_Season_Rank,Div_Salary_Rank,Diff
0,1991,East,BOS,56,11256000,4.0,11.0,2.0,8.0,7.0
1,1991,East,PHI,44,11640000,11.5,7.0,5.0,5.0,-4.5
2,1991,East,NYK,39,13290000,16.0,2.0,8.0,2.0,-14.0
3,1991,East,WSB,30,9610000,20.0,23.0,10.0,12.0,3.0
4,1991,East,NJN,26,11410000,23.5,10.0,11.5,7.0,-13.5
5,1991,East,MIA,24,8510000,26.0,25.0,13.0,13.0,-1.0
6,1991,East,CHI,61,10040000,2.0,22.0,1.0,11.0,20.0
7,1991,East,DET,50,12910000,9.0,3.0,3.0,3.0,-6.0
8,1991,East,MIL,48,11595000,10.0,8.0,4.0,6.0,-2.0
9,1991,East,ATL,43,11761000,13.0,5.0,6.0,4.0,-8.0
10,1991,East,IND,41,10981000,14.5,15.0,7.0,9.0,0.5
11,1991,East,CLE,33,14403000,17.0,1.0,9.0,1.0,-16.0
12,1991,East,CHH,26,10417000,23.5,19.0,11.5,10.0,-4.5
13,1991,West,SAS,55,11057000,5.5,14.0,3.5,6.0,8.5
14,1991,West,UTA,54,10695000,7.0,16.0,5.0,7.0,9.0
15,1991,West,HOU,52,10500000,8.0,18.0,6.0,9.0,10.0
16,1991,West,ORL,31,7532000,18.5,27.0,9.5,14.0,8.5
17,1991,West,MIN,29,7540000,21.0,26.0,11.0,13.0,5.0
18,1991,West,DAL,28,11693000,22.0,6.0,12.0,2.0,-16.0
19,1991,West,DEN,20,10335000,27.0,20.0,14.0,10.0,-7.0
20,1991,West,POR,63,11215000,1.0,12.0,1.0,4.0,11.0
21,1991,West,LAL,58,12120000,3.0,4.0,2.0,1.0,1.0
22,1991,West,PHO,55,11463000,5.5,9.0,3.5,3.0,3.5
23,1991,West,GSW,44,11150000,11.5,13.0,7.0,5.0,1.5
24,1991,West,SEA,41,10590000,14.5,17.0,8.0,8.0,2.5
25,1991,West,LAC,31,10245000,18.5,21.0,9.5,11.0,2.5
26,1991,West,SAC,25,9605000,25.0,24.0,13.0,12.0,-1.0
27,1992,East,BOS,51,25343000,7.5,1.0,3.5,1.0,-6.5
28,1992,East,NYK,51,12399000,7.5,22.0,3.5,12.0,14.5
29,1992,East,NJN,40,12598000,15.5,18.0,6.5,10.0,2.5
...,...,...,...,...,...,...,...,...,...,...
756,2017,East,BOS,53,93465328,4.0,21.0,1.0,12.0,17.0
757,2017,East,CLE,51,127243667,6.5,1.0,2.5,1.0,-5.5
758,2017,East,TOR,51,108664969,6.5,6.0,2.5,3.0,-0.5
759,2017,East,WAS,49,102334382,9.0,12.0,4.0,7.0,3.0
760,2017,East,ATL,43,96294035,11.5,16.0,5.0,9.0,4.5
761,2017,East,MIL,42,94012121,13.5,19.0,6.5,10.0,5.5
762,2017,East,IND,42,94008504,13.5,20.0,6.5,11.0,6.5
763,2017,East,CHI,41,92571387,16.0,22.0,8.5,13.0,6.0
764,2017,East,MIA,41,101818405,16.0,13.0,8.5,8.0,-3.0
765,2017,East,DET,37,108967919,19.0,5.0,10.0,2.0,-14.0
766,2017,East,CHO,36,102675926,20.0,11.0,11.0,6.0,-9.0
767,2017,East,NYK,31,103595894,24.5,10.0,12.0,5.0,-14.5
768,2017,East,ORL,29,104110336,26.0,8.0,13.0,4.0,-18.0
769,2017,East,PHI,28,85763788,27.0,25.0,14.0,14.0,-2.0
770,2017,East,BRK,20,84083139,30.0,27.0,15.0,15.0,-3.0
771,2017,West,GSW,67,101725589,1.0,14.0,1.0,6.0,13.0
772,2017,West,SAS,61,108640621,2.0,7.0,2.0,4.0,5.0
773,2017,West,HOU,55,90996769,3.0,24.0,3.0,11.0,21.0
774,2017,West,LAC,51,116237542,6.5,2.0,4.5,1.0,-4.5
775,2017,West,UTA,51,80598193,6.5,30.0,4.5,15.0,23.5
776,2017,West,OKC,47,91339949,10.0,23.0,6.0,10.0,13.0
777,2017,West,MEM,43,111045893,11.5,4.0,7.0,3.0,-7.5
778,2017,West,POR,41,112416239,16.0,3.0,8.0,2.0,-13.0
779,2017,West,DEN,40,82573997,18.0,28.0,9.0,13.0,10.0
780,2017,West,NOP,34,101707386,21.0,15.0,10.0,7.0,-6.0
781,2017,West,DAL,33,104042028,22.0,9.0,11.0,5.0,-13.0
782,2017,West,SAC,32,96043092,23.0,17.0,12.0,8.0,-6.0
783,2017,West,MIN,31,81621379,24.5,29.0,13.0,14.0,4.5
784,2017,West,LAL,26,95226183,28.0,18.0,14.0,9.0,-10.0
785,2017,West,PHO,24,85138847,29.0,26.0,15.0,12.0,-3.0

In [29]:
combined.loc[(combined['Diff'] <= -20) & (combined['Team'] == 'NYK')]

,Year,Div,Team,Wins,Team_Salary,Season_Rank,Salary_Rank,Div_Season_Rank,Div_Salary_Rank,Diff
315,2002,East,NYK,30,85993039,23.0,1.0,13.0,1.0,-22.0
400,2005,East,NYK,33,102567539,23.5,1.0,11.5,1.0,-22.5
430,2006,East,NYK,23,126631098,29.0,1.0,15.0,1.0,-28.0
459,2007,East,NYK,33,117350866,22.0,1.0,11.5,1.0,-21.0
490,2008,East,NYK,23,96190114,25.5,2.0,14.0,1.0,-23.5
520,2009,East,NYK,32,96643646,23.0,1.0,14.0,1.0,-22.0
700,2015,East,NYK,17,83022165,29.0,6.0,15.0,3.0,-23.0

In [20]:
combined.to_csv('combined.csv',index=False)