In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('seasonRanks91to95.csv')

In [4]:
df1 = pd.read_csv('seasonRanks.csv')

In [7]:
df1['Year'].unique()

array([1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)

In [8]:
df['Year'].unique()

array([1991, 1992, 1993, 1994, 1995], dtype=int64)

In [11]:
df2 = pd.concat([df,df1])

In [13]:
df2['Year'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017], dtype=int64)

In [14]:
df2.to_csv('seasonRanks91to17.csv',index=False)

In [15]:
df2

     Year   Div Team  Wins
0    1991  East  BOS    56
1    1991  East  PHI    44
2    1991  East  NYK    39
3    1991  East  WSB    30
4    1991  East  NJN    26
5    1991  East  MIA    24
6    1991  East  CHI    61
7    1991  East  DET    50
8    1991  East  MIL    48
9    1991  East  ATL    43
10   1991  East  IND    41
11   1991  East  CLE    33
12   1991  East  CHH    26
13   1991  West  SAS    55
14   1991  West  UTA    54
15   1991  West  HOU    52
16   1991  West  ORL    31
17   1991  West  MIN    29
18   1991  West  DAL    28
19   1991  West  DEN    20
20   1991  West  POR    63
21   1991  West  LAL    58
22   1991  West  PHO    55
23   1991  West  GSW    44
24   1991  West  SEA    41
25   1991  West  LAC    31
26   1991  West  SAC    25
27   1992  East  BOS    51
28   1992  East  NYK    51
29   1992  East  NJN    40
..    ...   ...  ...   ...
621  2017  East  BOS    53
622  2017  East  CLE    51
623  2017  East  TOR    51
624  2017  East  WAS    49
625  2017  East  ATL    43
626  2017  East  MIL    42
627  2017  East  IND    42
628  2017  East  CHI    41
629  2017  East  MIA    41
630  2017  East  DET    37
631  2017  East  CHO    36
632  2017  East  NYK    31
633  2017  East  ORL    29
634  2017  East  PHI    28
635  2017  East  BRK    20
636  2017  West  GSW    67
637  2017  West  SAS    61
638  2017  West  HOU    55
639  2017  West  LAC    51
640  2017  West  UTA    51
641  2017  West  OKC    47
642  2017  West  MEM    43
643  2017  West  POR    41
644  2017  West  DEN    40
645  2017  West  NOP    34
646  2017  West  DAL    33
647  2017  West  SAC    32
648  2017  West  MIN    31
649  2017  West  LAL    26
650  2017  West  PHO    24

[786 rows x 4 columns]

In [16]:
NBA_Salary_1991 = pd.read_csv('NBA_Salary_1991.csv')

In [18]:
NBA_Salary_1992 = pd.read_csv('NBA_Salary_1992.csv')

In [19]:
NBA_Salary_1993 = pd.read_csv('NBA_Salary_1993.csv')

In [20]:
NBA_Salary_1994 = pd.read_csv('NBA_Salary_1994.csv')

In [21]:
NBA_Salary_1995 = pd.read_csv('NBA_Salary_1995.csv')

In [23]:
NBA_Salary_91to95 = pd.concat([NBA_Salary_1991,NBA_Salary_1992,NBA_Salary_1993,NBA_Salary_1994,NBA_Salary_1995])

In [24]:
NBA_Salary_91to95

    Team  Year            Player   Salary
0    BOS  1991     Robert Parish  2500000
1    BOS  1991        Larry Bird  1500000
2    BOS  1991      Kevin McHale  1400000
3    BOS  1991        Brian Shaw  1212000
4    BOS  1991        Joe Kleine   850000
5    BOS  1991       Ed Pinckney   750000
6    BOS  1991       John Bagley   550000
7    BOS  1991         Dee Brown   547000
8    BOS  1991     Michael Smith   525000
9    BOS  1991      Reggie Lewis   400000
10   BOS  1991      Kevin Gamble   375000
11   BOS  1991       Derek Smith   315000
12   BOS  1991  Stojko Vrankovic   222000
13   BOS  1991       Dave Popson    80000
14   BOS  1991       A.J. Wynder    30000
15   PHI  1991   Charles Barkley  2900000
16   PHI  1991    Johnny Dawkins  1500000
17   PHI  1991       Rick Mahorn  1330000
18   PHI  1991        Manute Bol  1300000
19   PHI  1991     Armen Gilliam  1200000
20   PHI  1991    Hersey Hawkins  1000000
21   PHI  1991   Jayson Williams   500000
22   PHI  1991      Brian Oliver   455000
23   PHI  1991      Ron Anderson   425000
24   PHI  1991       Dave Hoppen   400000
25   PHI  1991       Kenny Payne   400000
26   PHI  1991      Rickey Green   120000
27   PHI  1991      Andre Turner   110000
28   NYK  1991     Patrick Ewing  4250000
29   NYK  1991      Mark Jackson  1785000
..   ...   ...               ...      ...
394  LAC  1995   Stanley Roberts  3496000
395  LAC  1995        Loy Vaught  2750000
396  LAC  1995   Pooh Richardson  2120700
397  LAC  1995     Lamond Murray  2000000
398  LAC  1995      Terry Dehere  1365000
399  LAC  1995       Malik Sealy  1260000
400  LAC  1995        Gary Grant  1100000
401  LAC  1995   Eric Piatkowski   962500
402  LAC  1995       Randy Woods   800000
403  LAC  1995    Elmore Spencer   700000
404  LAC  1995   Tony Massenburg   422500
405  LAC  1995      Harold Ellis   250000
406  LAC  1995        Bob Martin   250000
407  LAC  1995         Bo Outlaw   250000
408  LAC  1995         Matt Fish   150000
409  GSW  1995      Tim Hardaway  3703000
410  GSW  1995      Rony Seikaly  3297000
411  GSW  1995      Chris Mullin  2844000
412  GSW  1995      Ricky Pierce  2500000
413  GSW  1995     Tom Gugliotta  1625000
414  GSW  1995  Victor Alexander  1377500
415  GSW  1995     Chris Gatling  1330000
416  GSW  1995  Latrell Sprewell   890000
417  GSW  1995     Carlos Rogers   715000
418  GSW  1995   Clifford Rozier   650000
419  GSW  1995    Keith Jennings   350000
420  GSW  1995        Manute Bol   200000
421  GSW  1995     Dwayne Morton   150000
422  GSW  1995        David Wood   150000
423  GSW  1995       Rod Higgins    15800

[1965 rows x 4 columns]

In [25]:
NBA_Salary_96to17 = pd.read_csv('NBA_Salary_96to17.csv')

In [27]:
NBA_Salary_91to17 = pd.concat([NBA_Salary_91to95,NBA_Salary_96to17])

In [29]:
NBA_Salary_91to17.to_csv('NBA_Salary_91to17.csv',index=False)